#about h3 {
    text-align: center;
    font-size: 25px;
}

.toggler {
    position: absolute;
    background-color: #2B192C;
    cursor: pointer;
    left: 0;
    font-size: medium;
    color: #E0C2DC;
    margin-top: 0;
    border: 2px solid #30022A;
}