.github {
    border-width: 0.15rem;
    padding: 0.3rem 0.6rem;
    font-size: 16px;
}
.project {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project button {
    padding-left: 0.5rem;
}

.project button:hover {
    color: #333;
}

button:hover .github-inline {
    filter: invert(0);
}

.github-inline {
    margin-bottom: -3.5px;
    margin-right: 1px;
    filter: invert(1);
}

a {
    display: flex;
    justify-content: center;
}

#thumbnail {
    max-width: 50%;
    margin: 1vw 0;
    object-fit: cover;
    border-radius: 10px;
}