#footer {
    background-color: #200F21;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 75px;
}

@media (max-width: 480px) {
    #footer {
        padding: 15px 10px;
        margin-top: 50px;
        font-size: 14px;
    }
}