#profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
    font-size: 1.1rem;
}

#profile-pic{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px #F4F0F5;
    /* border: 3px solid ; */
}
#profile-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-text img:hover {
    transform: scale(1.15);
    cursor: pointer;
}

#profile h2 {
    font-size: 43px;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

@media (max-width: 768px) {
    #profile {
        flex-direction: column;
        gap: 20px;
        margin-bottom: 30px;
        font-size: 1rem;
    }
    
    #profile-pic {
        width: 200px;
        height: 200px;
    }
    
    #profile h2 {
        font-size: 35px;
    }
}

@media (max-width: 480px) {
    #profile-pic {
        width: 150px;
        height: 150px;
    }
    
    #profile h2 {
        font-size: 28px;
    }
    
    .icons img {
        width: 30px;
        height: 30px;
    }
}