body {
    font-family: "Inter";
    /* background-color: #dedede; */
    background-color: #382039;
    /* color: #333; */
    color: #F4F0F5;
}

#about,
#chat,
#projects,
#exp {
    width: 60%;
    margin: 30px auto;
    background-color: #5A3D5C;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#projects h2,
#about h2,
#chat h2,
#exp h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
    position: relative;
}

.project,
.job {
    background: #816283;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 75%;
    padding: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

#projects li,
.job li {
    margin-left: 25px;
}

button {
    padding: 0.4rem 0.8rem;
    border: 0.2rem solid #333;
    border-radius: 0.5rem;
    background-color: #200F21;
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #dedede;
    color: #333;
}

/* Responsive Design */
@media (max-width: 1024px) {
    #about,
    #chat,
    #projects,
    #exp {
        width: 75%;
    }
    
    .project,
    .job {
        width: 85%;
    }
}

@media (max-width: 768px) {
    #about,
    #chat,
    #projects,
    #exp {
        width: 85%;
        padding: 20px;
        margin: 20px auto;
    }
    
    .project,
    .job {
        width: 90%;
        padding: 20px;
    }
    
    #projects h2,
    #about h2,
    #chat h2,
    #exp h2 {
        font-size: 24px;
    }
    
    button {
        font-size: 1.1rem;
        padding: 0.3rem 0.6rem;
    }
}

@media (max-width: 480px) {
    #about,
    #chat,
    #projects,
    #exp {
        width: 95%;
        padding: 15px;
        margin: 15px auto;
    }
    
    .project,
    .job {
        width: 100%;
        padding: 15px;
    }
    
    #projects h2,
    #about h2,
    #chat h2,
    #exp h2 {
        font-size: 20px;
    }
    
    button {
        font-size: 1rem;
    }
}